.App{
    position: relative;
    display: flex;
    flex-direction: column;
    
}

@media screen  and (orientation:landscape) {
    .App{
       height: 100vh;
        

    }
    
}





     

    
     
   
   